{% extends "base.html" %}

{% block titulo %} 
    Outdoor in-tents
{% endblock %}

{% block conteudo %}
<header>
    <div id="logo-container">
        <i class="las la-campground"></i>
        <div id="logo-title-container">
            <h1 id="logo-title">Outdoor in-tents</h1>
            <span id="slogan">Products forest off your life</span>
        </div>
    </div>
    <div id="header-nav-container">
        <nav id="header-nav">
            <a>
                <span>
                    barracas
                </span>
            </a>
            <a>
                facas
            </a>
            <a>
                lanternas
            </a>
            <a>
                mochilas
            </a>
            <a>
                pesca
            </a>
            <a>
                vestuário
            </a>
        </nav>
    </div>
</header>
<content id='main-container'>
    <section id="products-container">
        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto1"/>
            <div class="card-info">
                <span class="card-title">Produto1</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>

        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto2"/>
            <div class="card-info">
                <span class="card-title">Produto2</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>

        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto3"/>
            <div class="card-info">
                <span class="card-title">Produto3</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>

        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto4"/>
            <div class="card-info">
                <span class="card-title">Produto4</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>

        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto5"/>
            <div class="card-info">
                <span class="card-title">Produto5</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>

        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto6"/>
            <div class="card-info">
                <span class="card-title">Produto6</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>
      
        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto7"/>
            <div class="card-info">
                <span class="card-title">Produto7</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>

        <div class="product-card">
            <img class="product-card-img" src="https://api.hello-avatar.com/adorables/produto8"/>
            <div class="card-info">
                <span class="card-title">Produto8</span>
                <span class="card-description">
                    Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                </span>
            </div>
            <div class="card-add-to-cart">
                <i class="las la-minus"></i>
                <input type="number" min="0" />
                <i class="las la-plus"></i>
            </div>
        </div>
    </section>
    <aside id="aside-menu-container">
        <section id="aside-menu-section">
            <span>
                FILTROS
            </span>
            <hr/>
            <ul id="aside-menu-list">
                <li>
                    <i class="las la-angle-right"></i>
                    Subcategoria1
                </li>
                <li>
                    <i class="las la-angle-right"></i>
                    Subcategoria2
                </li>
                <li>
                    <i class="las la-angle-right"></i>
                    Subcategoria3
                </li>
                <li>
                    <i class="las la-angle-right"></i>
                    Subcategoria4
                </li>
            </ul>
        </section>
    </aside>
</content>
{% endblock %}