{% extends "base.html" %} {% block titulo %} Outdoor in-tents {% endblock %} {%
block conteudo %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark linear-bg-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: yellow">
        <i class="las la-campground"></i>
        Outdoor in tents
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Barracas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Facas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lanternas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mochilas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pesca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vestuário</a>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<content class=".container-fluid container-produto">
  <div class="row info-produto">
    <div class="col-md-4 col-sm-12">
      <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/09/c4/54/84/barraca-do-andrezao.jpg"
        class="product-img"
      />
    </div>
    <div class="product-title col-md-7 col-sm-12 mt-sm-4">
      <h1>Ele é um abacaxi e mora no mar</h1>
      <div class="card card-preco-container">
        <div class="card-header">Garanta seu produto:</div>
        <div class="card-body">
          <h4 class="card-preco-valor">R$ 250,00</h4>
          <p class="card-text">Frete Grátis</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-description">
      <h2>Descrição</h2>
      <p>
        Vive num abacaxi e mora no mar? Bob Esponja Calça Quadrada Tem a cor
        amarela e espirra água? Bob Esponja Calça Quadrada Se nenhuma bobagem é
        o que você quer? Bob Esponja Calça Quadrada Diabruras à bordo e
        problemas com peixe? Bob Esponja Calça Quadrada Todos Juntos.... Bob
        Esponja Calça Quadrada Bob Esponja Calça Quadrada Bob Esponja Calça
        Quadrada
      </p>
    </div>
  </div>
</content>
{% endblock %}
