#aside-menu-container{
  display: flex;
  flex:1
}

#aside-menu-section{
  padding-top: 10px;
  flex:1;
}

#aside-menu-list{
  list-style: none;
  padding-left: 30px;
}

#aside-menu-list li{
  display: flex;
  color: #2F2F11;
  margin-top: 10px;
}

#aside-menu-list li i{
  margin-right: 2px;
}